h1 {
  padding: 0px;
  margin: 0px;
}

input {
  color: rgba(21, 21, 21, 0.9);
}

.button-container { /* Assuming buttons are inside this container */
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping of items */
}

button {
  flex-shrink: 0; /* Prevents the button from shrinking */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  white-space: nowrap; /* Prevents text wrapping */
  min-width: 80px; /* or whatever width is needed */
  touch-action: manipulation;
}


.progress, .progress-bar {
  box-shadow: inset 1px 1px 2px 1px black;
}

.cal-label label {
  z-index: -1;
}

.web-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh 20px;
  border: 1px solid grey;
  gap: 5px;
  background-image: linear-gradient(
    to bottom,
    rgba(21, 21, 21, 0.9),
    rgba(255, 255, 255, 0.1)
  ),
  url("https://images.pexels.com/photos/11431337/pexels-photo-11431337.jpeg");
background-size: auto;
max-width: 100%;
background-repeat: no-repeat;

}


#result-graph .resultabs {
  display: flex;
  justify-content: flex-start;
}

.calculator-panel {
  margin: 5px;
}



.text-results {
  margin-top: 20px;
}



h1 {
  font-size: 50px;
}

.calculator-content,
.result-graph {
  border: solid 0.5px grey;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
  justify-content: center;
}

.result-graph {
  height: 450px;
}


.cal-label, #age1, #age2{
  display: inline-block;
  width: 200px;
  font-size: 15px;
}


.abs {
  background: #C68D93;
  width: 5px;
  height: 30px;
  margin-bottom: 5px;
}
