:root {
  --shadow-color: #121212;
  --background-color: rgb(21, 21, 21);
  --text-color: #b4a5a5;
  --padding: 80px 0px;
  --highlight-color: #3c415c;
  --red-shadow-color: #662549;
  --side-bar-translate: -30px, 0px;
  --side-bar-translate-pre: -300px, 0px;
  --font-weight: 300;
  --font-size: 1rem;
  --content-font-size: 1.5rem;
  --min-left-right: 69px;
  --min-left-right-650: 40px;
  --work-section-width: 50ch;
  --work-section-padding: 1ch 10ch;
  background: var(--shadow-color);
}

body {
  --transition: 0s;
  --transition-5: 0s;
  min-width: 380px;
  min-height: 100vh;
}

.word-section {
  flex: 1 1 auto;
}

.lato {
  font-family: "lato", Arial, sans-serif;
}

h1,
h2,
h4 .lato {
  font-family: "lato";
  font-weight: var(--font-weight);
}

h1 {
  font-weight: var(--font-weight);
  font-size: 6rem;
  background: -webkit-linear-gradient(
    75deg,
    var(--text-color) 0%,
    var(--highlight-color) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: 0px 0px 0.5px var(--text-color);
}

p,
.montserrat {
  font-family: "Lato";
}

.column-web-layout-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(
    145deg,
    rgba(21, 21, 21, 1) 20%,
    rgba(48, 27, 63, 1) 100%
  );
  overflow-wrap: break-word;
}

.row-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 200px;
  padding-bottom: 500px;
  justify-content: space-around;
  align-items: space-around;
  height: auto;
}

.past-work-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 200px;
  padding-bottom: 500px;
  justify-content: center;
  align-items: space-around;
  height: auto;
}

.work-section {
  border: none;
  opacity: 1;
  padding: var(--work-section-padding);
  flex: 1 1 auto;
  width: var(--work-section-width);
  font-size: var(--content-font-size);
}

@media screen and (max-width: 400px) {
  .past-work-container {
    justify-content: flex-start;
  }
  .work-section {
    width: 100%;
  }
}

* {
  color: var(--text-color);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: var(--font-size);
  font-family: Lato, inter;
  font-weight: var(--font-weight);
}

.about-me {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.columns a {
  text-decoration: none;
}

.bold {
  font-weight: 900;
}

#logo a {
  color: var(--text-color);
  font-weight: 1;
  font-size: var(--logo-size);
  transition: color 0.3s;
}

#logo a:hover {
  color: var(--highlight-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--text-color);
}

.navbtn::selection,
#logo::selection,
.content::selection {
  display: none;
}

*:not(.navbtn, #logo, .content)::selection {
  background-color: var(--highlight-color);
}

.left-web-section-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  flex: 1 1 auto;
  width: 25%;
  background-color: var(--text-color);
  box-shadow: inset -5px -5px 1px 5px var(--shadow-color);
  opacity: 0.5;
}

.left-web-section {
  flex: 0 1 auto;
  min-width: var(--min-left-right);
}

@media screen and (max-width: 650px) {
  .left-web-section {
    min-width: var(--min-left-right-650);
  }
}

.right-web-section {
  flex: 0 1 auto;
  min-width: var(--min-left-right);
}

@media screen and (max-width: 650px) {
  .right-web-section {
    min-width: var(--min-left-right-650);
  }
}

.left-web-section-nav span {
  flex: 1 1 auto;
  margin-top: 20px;
  max-height: 70px;
  max-width: 60px;
  border-radius: 99px;
  background-color: var(--highlight-color);
}

.nav-bar {
  position: fixed;
  justify-content: space-between;
  transition: box-shadow var(--transition-5);
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--background-color);
  opacity: 1;
  animation-duration: 3s;
  animation-name: breathinglight;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: flex;
  flex-direction: row;
}

@keyframes breathinglight {
  from {
    box-shadow: 0 0 2px 1px var(--shadow-color);
  }

  to {
    box-shadow: 0 0 2px 1px var(--highlight-color);
  }
}

#logo {
  flex-grow: 2;
  flex-shrink: 0;
  font-weight: 1;
  font-family: "Lato";
  cursor: default;
  transition: color 0.2s;
}

#logo:hover {
  color: var(--highlight-color);
}

.nav-bar a {
  text-decoration: none;
  color: var(--background-color);
}

.cate {
  font-size: var(--font-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}

.cate-right-section {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  text-align: right;
  max-width: 350px;
}

@media screen and (max-width: 900px) {
  .cate-right-section {
    display: none;
  }
}

.cate-right-items {
  flex: 1 1 auto;
  justify-self: flex-end;
}

.cate .cate {
  flex: 1 1 auto;
}

.cate .navbtn:hover {
  cursor: pointer;
  transform: translate(0px, -2px);
  color: var(--highlight-color);
}

.menu-btn {
  padding: 20px;
}

.menu {
  z-index: 1000;
  background-color: var(--background-color);
  align-items: flex-start;
}

label {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

label span {
  position: relative;
  padding: 1px 12px;
  margin: 2.98px;
  background-color: var(--text-color);
  transition: all var(--transition);
  border-radius: 5px;
  z-index: 9999;
}

label:hover span {
  box-shadow: 0px 0px 20px 0.5px var(--shadow-color);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: top left;
  transform: rotatez(45deg) translate(5px, 1px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  opacity: 0;
  transform-origin: center;
  transform: translate(0px, 0px) rotatez(45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom left;
  transform: rotatez(-45deg) translate(-2px, 5px);
}

input[type="checkbox"]:checked ~ .side-bar .content {
  pointer-events: auto;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .side-bar {
  transform: translate(var(--side-bar-translate));
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 102%;
  max-width: 500px;
  padding: 50px 20px 50px 0;
  color: var(--text-color);
  box-shadow: 1px 0px 30px 0.01px var(--shadow-color);
  opacity: 1;
  background-color: var(--background-color);
  pointer-events: none;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .side-bar .content {
  display: flex;
}

.side-bar .content {
  flex: 0 0 auto;
  background-color: var(--background-color);
  display: none;
  cursor: pointer;
}

.side-bar .content:hover {
  transition: 0.2s all;
  border-color: transparent;
  box-shadow: -400px 0px 200px 1px var(--red-shadow-color);
  color: var(--highlight-color);
  transform: translate(-3px, 0px);
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  text-align: center;
  transform: translate(var(--side-bar-translate-pre));
  opacity: 1;
  height: 100%;
  position: fixed;
  transition: var(--transition) transform;
  cursor: default;
  z-index: 1000;
}

.text-right,
.text-right-container p {
  text-align: right;
}

.text-center-container > * {
  text-align: center;
  font-family: "Lato";
}

.padding-top {
  padding-top: 50px;
}

.padding-bottom {
  padding-bottom: 50px;
}

.text-left {
  flex: 1 1 auto;
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.twentypx {
  font-size: 20px;
}

.thirtypx {
  font-size: 30px;
}

.bodycontent1 p {
  margin: 16px 0px;
}

.searching {
  width: 500px;
  flex: 1 0 auto;
}

input[type="submit"] {
  font-weight: bold;
  color: black;
  content: "Search";
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0px 0px 1px 0.2px #d8ffea;
  cursor: pointer;
}

input[type="text"] {
  outline: 2px solid #ffd8ed;
  width: 100%;
  height: 30px;
  border-style: none;
  border-radius: 6px;
  text-align: left;
  padding: 0 1em;
}

.wrapper {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-direction: column;
}

.footer {
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--shadow-color);
  color: var(--text-color);
  padding: var(--padding);
  flex-wrap: wrap;
  font-size: var(--font-size);
  z-index: 0;
}

.footer-copyright {
  padding: 80px;
  text-align: center;
  font-size: 11px;
}

.footer-follow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer-follow span {
  text-align: center;
}

.hoverlink:hover {
  color: var(--highlight-color);
  cursor: pointer;
}
